@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontFamily : 'Poppins', sans-serif;
    --bodyColor: #080829
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fontFamily);
}

body{
    background-color: var(--bodyColor);   
}

#root{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.synopsis{
    line-height: 2em;
}

.open{
  left: 0;
}

.close{
  left: -100%;
}

.table{
    /* border: 1px solid red; */
    max-width: 700px;    
}

.table tr td:nth-child(1){
    vertical-align: top;
    width: 100px;
    color: #8e8eff;
}

.info{
    display: flex;
    gap: 2em;
    /* border: 1px solid green; */
}

.section-heading{
    font-weight: 400;
}

.nav,main,.footer{
    width: 60%;
    margin: auto;
}

main{    
    flex: 1;
}

.carousel{
    /* border: 1px solid red; */
    display: flex;
    gap: 1.8em;    
    overflow-x: scroll ;    
}

.carousel::-webkit-scrollbar{
    display: none;
}

.carousel .card{
    min-width: 200px;
}

.action-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5c5cff;
    border-radius: 50%;
    width: 80px;
    height: 80px;  
    position: relative;
    font-size: 1em;        
    text-decoration: none;
    color: #ffffff;    
}

.action-button a::before{
    content: 'see more';
    position: absolute;
    font-size: 1rem;
    background-color: #5c5cff;
    color: #ffffff;
    scale: 0;    
    transition: scale 0.5s;
}

.action-button a:hover::before{
    scale: 1;
}

.input-bar{
    outline: none;    
    border-radius: 10px;
    border-style: solid;
    width: 500px;
    padding: 5px 20px;
    font-size: 16px;
}

.input-bar:focus{
    box-shadow: 0 0 20px #5c5cff;
    border-color: #5c5cff;
}

.btn{
    padding: 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: #5c5cff;
    color: #ffffff;
    letter-spacing: 1.2px;
    font-weight: 500;
}

.btn:hover{
    background-color: #4242b4;
}
.nav{       
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-text{
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-text a{
    text-decoration: none;
    color: #ffffff;
}

.nav-close{
    padding: 10px;
}

.side-bar{
    position: fixed;
    background-color: #4242b4;    
    top: 0;    
    width: 30vw;
    height: 100vh;
    z-index: 10;
    transition: left 0.5s;
}

.nav-logo{
    display: none;
}

.nav-links{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

.nav-links a {
    padding: 8px 10px;        
    border-radius: 50px;
}

.nav-links a:focus{
    background-color: var(--bodyColor);
}

.result-grid{    
    columns: 4;
    column-gap: 5px;
}

.card{
    max-width: 300px;
    margin: 4px 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.card-title{
    letter-spacing: 1.8px;
    font-weight: 300;
}
.card::before{
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.329), var(--bodyColor));
    transition: opacity 0.5s;
    z-index: 1;
}

.card-content{
    position: absolute;
    z-index: 2;
    /* top: 0;
    left: 0;
    width: 100%;
    height: 100%;     */
    inset:  0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.poster{
    width: 100%;
    height: auto;
    vertical-align: top;
    transition: transform 0.5s;
}

.card:hover .card-content, .card:hover::before{
    opacity: 1;
}

.card:hover .poster{
    transform: scale(1.2);
}

.pagination-bar{
    /* border: 1px solid red; */
    padding: 20px 0;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 2em);
}

.pagination-bar a{    
    color: #ffffff;
    text-decoration: none;
    background-color: #5c5cff;    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

footer{
    background-color: #2b2a2a;
    color:#8e8eff;
    height: 20vh;
}

.footer{
    padding: 20px 0;  
}

@media only screen and (max-width: 768px) {
    .result-grid{        
        columns: 2;        
    }

    main{
        width: 95%;
    }

    .result-grid .card{
        border-radius: 10px;
    }
    .card::before,
    .nav-text,
    .table,
    .info .section-heading{
        display: none;
    }   
    .card-content{
        position: relative;
        display: block;
        padding: 6px 0;
        opacity: 1;
    }
    .card-title{
        font-size: 0.8rem;
        letter-spacing: normal;
        text-align: left;
    }
    .nav{                
        width: 95%;        
    }
    .nav-logo{
        display: block;
    }
    .nav form{
        width: 80%;
    }
    .input-bar{
        width: 70%;
        padding: 2px 10px;
    }
    .btn{
        padding: 5px 6px;
    }
    .pagination-bar{
        grid-template-columns: repeat(8, 2em);
    }
    .carousel{
        gap: 1em;
    }
    .carousel .card{
        min-width: 80px;
    }
    .carousel .card,
    .info .card{
        border-radius: 5px;    
    }
    .info{
        justify-content: center;        
        gap: 0;
    }
    .info .card{
        width: 200px;
    }
}